name: Deploy Python Lambda Function

on:
  pull_request:
    branches:
      - 'develop'
    types:
      - closed
    paths:
      - DailySiteDistributor/**

env:
  AWS_REGION: ap-northeast-1
  PYTHON_VERSION: '3.11'
  AWS_ACCOUNT_ID: 683918607581
  GITHUB_OIDC_ROLE: HeatmapJapan-GithubAction
  LAMBDA_FUNCTION_NAME: HeatmapLambdaSplitSites
  DIRECTORY_NAME: DailySiteDistributor

jobs:
  deploy:
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'feature/')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Download RDS SSL Certificate
      run: |
        cd ${{ env.DIRECTORY_NAME }}
        mkdir -p certs
        curl -o certs/${{ env.AWS_REGION }}-bundle.pem \
          https://truststore.pki.rds.amazonaws.com/${{ env.AWS_REGION }}/${{ env.AWS_REGION }}-bundle.pem

    - name: Build Lambda package
      run: |
        cd ${{ env.DIRECTORY_NAME }}
        mkdir -p build
        if [ -f requirements.txt ]; then
          pip install -r requirements.txt -t build/ --upgrade
        fi
        cp -r *.py build/
        cp -r certs build/

    - name: Create deployment package
      run: |
        cd ${{ env.DIRECTORY_NAME }}/build
        zip -r ../deployment-package.zip . -x "*.pyc" -x "*__pycache__*" -x "*.dist-info/*"

    - name: Cleanup downloaded certificate
      run: rm -rf ${{ env.DIRECTORY_NAME }}/certs/

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.GITHUB_OIDC_ROLE }}
        role-duration-seconds: 900
        aws-region: ${{ env.AWS_REGION }}

    - name: Deploy to AWS Lambda
      run: |
        aws lambda update-function-code \
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
          --zip-file fileb://${{ env.DIRECTORY_NAME }}/deployment-package.zip \
          --publish

    - name: Wait for Lambda update
      run: |
        aws lambda wait function-updated \
          --function-name ${{ env.LAMBDA_FUNCTION_NAME }}
        echo "Deployment successful!"

    - name: Cleanup build artifacts
      if: always()
      run: |
        rm -rf ${{ env.DIRECTORY_NAME }}/build/
        rm -f ${{ env.DIRECTORY_NAME }}/deployment-package.zip